/* 全局样式 */
@import "@/assets/reset.min.css";
html,body{
    height:100%;
    background-color: white;
}
#root{
    min-height:100%;
    margin: 0 auto;
    background-color: white;
}
/* 全局组件修改组件库的样式 */
.adm-toast-main{
    max-width: 240px!important;
    font-size: 28px!important;
    .adm-toast-icon{
        font-size: 48px!important;
        
    }
}